{% extends 'base1.html' %} 
{% block content %}
      <main class="container col s12">
    




<section>
    <h4 class="title">Listing Details:  The Expanse - Caliban&#39;s War</h4>
    <hr>
</section>
 <!-- Messages -->
    <!-- Flash Messages -->
<div id="alerts" class="container messages">
    <div class="row justify-content-around">
        <div id="messages">
            
            
            
        </div>
    </div>
</div>
<!-- End Flash Messages -->
    <!-- End Messages -->

<div class="container crd-cont z-depth-2 top-club bottom">
    <div class="card-img bottom">
        <img src="https://m.media-amazon.com/images/I/91XhjwM1OZL._AC_UY327_QL65_.jpg">
    </div>  

    <div class="content ">
    <hr class="bottom">
        <p > <span class="sml">Added By:</span> Darren</p>
        <p > <span class="sml">Read Time:</span> 15+ Hours</p>
        <p> <span class="sml">Added on:</span> 06 June 2020</p>
        <p > <span class="sml">Rating:</span> 5 Stars</p>
        <p class="last"> <span class="sml">Description: </span>The second book in the NYT bestselling Expanse series, Caliban&#39;s War shows a solar system on the brink of war, and the only hope of peace rests on James Holden and the crew of the Rocinante&#39;s shoulders. Now a Prime Original series.</p>
        <div class="">
         
    
    </div>

</div>



</div>

<!-- Modal Structure -->
        <div id="modal1" class="modal s12">
            <div class="modal-content">
            <h4>Confirm Deletion</h4>
            
                <hr><br>  
                <!-- Give your meeting a name-->
                <div class="row">
                    <form class="col s12"  >
                        <div class="row">
                         <p> Please Confirm you wish to delete the selected listing: The Expanse - Caliban&#39;s War</p>
                        <!-- Delete meeting-->
                            <div class="col s6">
                                <a class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-red" href="/remove_listing/5edc0ed120beca0b6461e639">Delete Listing&nbsp;<i class="fa fa-times-circle"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                    
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
       </div>  

    
    </main>
{% endblock %}